config daemon interface_example
	option enabled		1
	option type		if
	option ip_from		eth1
	option proto		noip
	option server		dynupdate.no-ip.com
	option login		login
	option password		password
	option check_interval	60
	option maxinterval	25d
	option syslog		yes
	option ssl		yes
	option hostnames	'hostname1,hostname2,hostname3'


config daemon interface_example
	option enabled		0
	option type		web
	option ip_from		localhost/primary.html
	option proto		noip
	option server		dynupdate.no-ip.com
	option login		login
	option password		password
	option check_interval	60
	option maxinterval	7d
	option syslog		yes
	option ssl		yes
	option hostnames	'hostname4,hostname5'

